/*
===============================================================================
  module - m14 ways to listen
===============================================================================
*/

.m14-ways-to-listen {
	
	.ways-to-listen--block {
		min-height: 172px;
	}
	
	h5 {
		color: $text-white;
		margin-bottom: 5px !important;
		font-size: 0.9rem;
	}
	
	a {
		width: 100%;
		height: auto;
		display: inline-block;
		background-position: 50% 50%;
	}
	
	.icon-Radio_icon {
		background-size: 100%;
		background-repeat: no-repeat;
		width: 60px;
		height: 90px;
	}
	
	.icon-Mobile_icon {
		background-size: 100%;
		background-repeat: no-repeat;
		width: 48px;
		height: 90px;
	}
	
	.icon-Laptop_icon {
		background-size: 100%;
		background-repeat: no-repeat;
		width: 60px;
		height: 90px;
	}
	
	.icon-Player_icon {
		background-size: 100%;
		background-repeat: no-repeat;
		width: 60px;
		height: 90px;
	}
	
	.icon-Headphones_icon {
		background-size: 100%;
		background-repeat: no-repeat;
		width: 60px;
		height: 90px;
	}
	
	.icon-TV_icon {
		background-size: 100%;
		background-repeat: no-repeat;
		width: 60px;
		height: 90px;
	}
}


@media only screen and (min-width:$tablet-breakpoint) {/* tablet */

	.m14-ways-to-listen {
	
		.ways-to-listen--block {
			min-height: 140px;
		}
		
		.icon-Radio_icon {
			width: 80px;
		}
		.icon-Laptop_icon {
			width: 90px;
		}
		
		.icon-Player_icon {
			width: 70px;
		}
		
		.icon-Headphones_icon {
			width: 80px;
		}
		
		.icon-TV_icon {
			width: 80px;
		}
			
	}

}


@media only screen and (min-width:$desktop-breakpoint) {/* desktop */


}