/*
===============================================================================
  componenets - search filters
===============================================================================
*/

.search-filters {
	display: none;
}


@media only screen and (min-width:$tablet-breakpoint) {/* tablet */


}


@media only screen and (min-width:$desktop-breakpoint) {/* desktop */

	.search-filters {
		display: block;
	}
	 .p03-searchbox{
	min-height:390px;	
 }
  .p03-searchbox img{
	max-height:185px;
	max-width:340px;	  
 }
  .p03-searchbox h4{
	min-height:45px;  
  }

}
